<div class="d-flex flex-row hot-news">
	<div class="col-8">
		<div class="card-group">
			<div class="card hot-news__col__card-group__card bg-dark text-white">
					<img class="card-img hot-news__col__card-group__card__card-img--opacity"
					     src="./assets/images/lion.jpg"
					     alt="Card image">
				<div class="card-img-overlay d-flex flex-column justify-content-end">
					<a href="#/news" class="text-white hot-news__col__card-group__card__card-img__a">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text">Last updated 3 mins ago</p>
					</a>
				</div>
			</div>
			<div class="card hot-news__col__card-group__card bg-dark text-white">
				<img class="card-img hot-news__col__card-group__card__card-img--opacity"
				     src="./assets/images/dogs.jpg"
				     alt="Card image">
				<div class="card-img-overlay d-flex flex-column justify-content-end">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text">Last updated 3 mins ago</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
			<div class="card-header">
				Hot News
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<span class="text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A expedita, fuga! Ab atque facilis, itaque laborum magnam magni minus nihil perferendis quis recusandae reiciendis reprehenderit sunt. Cupiditate fuga illum quaerat!
						</span>
					<span class="badge badge-success hot-news__badge"><i class="fab fa-node-js"></i></span>

				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Cras justo odio
					<span class="badge badge-danger hot-news__badge"><i class="fab fa-css3-alt"></i></span>

				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Cras justo odio
					<span class="badge badge-warning hot-news__badge"><i class="fab fa-js-square"></i></span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Cras justo odio
					<span class="badge badge-success hot-news__badge"><i class="fab fa-node-js"></i></span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Cras justo odio
					<span class="badge badge-success hot-news__badge"><i class="fab fa-html5"></i></span>
				</li>

			</ul>
		</div>
	</div>
</div>