<div class="container navigation">
	<div class="flex-row d-flex justify-content-center navigation__row">
		<div class="col-1 m-2">
			<a class="text-muted" href="javascript:void(0)">
				<i class="fas fa-angle-left"></i>
			</a>
		</div>
		<div class="col-10 d-flex justify-content-center">
			<div class="m-2">
				<a class="text-muted" href="#/home">
					Home
				</a>
			</div>
			<div class="m-2">
				<a class="text-muted" href="#">
					Contact
				</a>
			</div>
			<div class="m-2">
				<a class="text-muted" href="#">
					Support
				</a>
			</div>
		</div>
		<div class="col-1 m-2">
			<a class="text-muted float-right" href="javascript:void(0)">
				<i class="fas fa-angle-right"></i>
			</a>
		</div>
	</div>
</div>