<div class="d-flex flex-row flex-column news mt-4">
	<div class="d-flex flex-row col-12">
		<a href="#" class="badge badge-primary">Feature</a>
		<small class="ml-auto"><a href="#" class="text-muted">MORE
			<i class="fas fa-chevron-right"></i>
		</a></small>
	</div>
	<hr>
	<div class="d-flex flex-row col-12 mt-2">
		<div class="col-8 news__col__right">
			<div class="card-deck news__col__right__card-deck pb-2">
				<div class="card news__col__right__card-deck__card">
					<div class="card-img-top news__col__right__card-deck__card__img"
					     style="background: url('./assets/images/tiger.jpg') center">
					</div>
					<div class="card-body news__col__right__card-deck__card__body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text text-truncate">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<h6>Author : Who?</h6>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
				<div class="card news__col__right__card-deck__card">
					<div class="card-img-top news__col__right__card-deck__card__img"
					     style="background: url('./assets/images/tiger.jpg') center">
					</div>
					<div class="card-body news__col__right__card-deck__card__body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text text-truncate">This card has supporting text below as a natural lead-in to additional content.</p>
						<h6>Author : Who?</h6>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
			<div class="card-deck news__col__right__card-deck">
				<div class="card news__col__right__card-deck__card">
					<div class="card-img-top news__col__right__card-deck__card__img"
					     style="background: url('./assets/images/wolf.jpg') center">
					</div>
					<div class="card-body news__col__right__card-deck__card__body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text text-truncate">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						<h6>Author : Who?</h6>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
				<div class="card news__col__right__card-deck__card">
					<div class="card-img-top news__col__right__card-deck__card__img"
					     style="background: url('./assets/images/wolf-2.jpg') center">
					</div>
					<div class="card-body news__col__right__card-deck__card__body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text text-truncate">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<h6>Author : Who?</h6>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4 news__col news__col__left">
			<div class="card news__card h-100">
				<img class="card-img-top"
				     src="./assets/images/dogs.jpg"
				     alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text text-truncate">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<h6>Author : Who?</h6>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
			</div>
		</div>
	</div>

</div>
